* {
    margin: 30;
    padding: 30;
    font-family: 'Inter', sans-serif;
    line-height: 14.52px;
}

header {
    background-color: #000461;
    margin: 0px;
    width: 1440px;
    height: 138px;
    margin-top: -8px;
    margin-left: -7px;
}

.container {
    display: flex;
    justify-content: space-around;

}


.titleH1 {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    border: 4px solid #ffffff;
    border-radius: 40px;
    text-align: center;
    font-size: 16px;
    width: 1360px;
    height: 49px;



    border-radius: 40px;

    box-sizing: border-box;

    position: absolute;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 15px;
}


.grp {
    font-size: 12px;
    width: 156px;
    height: 42px;
    border-radius: 40px;
    border: 4px solid #ffffff;
    text-align: center;
    margin-top: 81px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 15px;
}

p {
    color: rgb(255, 255, 255);
}


table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;

}

.container2 {
    display: flex;
    justify-content: space-around;
    height: 400px;
    width: 1423px;

}

.table1 {
    margin-left: 9px;
    margin-top: 22px;
}

.form1 {
    margin-top: 72px;
    margin-left: 40px;
}

th {
    padding: 0px;
    width: 109px;
    height: 33px;
    border: 1px solid #B9B9B9;
    font-weight: normal;
    background-color: #dddada;
    text-align: left;
    padding-left: 13px;
    font-size: 12px;
}

td {
    padding: 0px;
    width: 109px;
    height: 33px;
    border: 1px solid #B9B9B9;
    font-weight: normal;
    padding-left: 13px;
    font-size: 12px;
}


.grp1 {
    border-radius: 40px;
    height: 26px;
    width: 66px;
    border: 4px solid #000461;
    justify-content: space-around 4px;
    text-align: center;
    font-size: 12px;

}

.grp3 {
    border-radius: 40px;
    height: 26px;
    width: 66px;
    border: 4px solid #000461;
    justify-content: space-around 4px;
    text-align: center;
    font-size: 12px;
}

.button1 {
    border: 4px solid #000461;
    border-radius: 40px;
    width: 160px;
    height: 36px;
    color: #000461;
    margin-top: 6px;
    font-size: 12px;
}

footer {
    background-color: #000461;
    width: 1440px;
    height: 138px;
    margin-top: 328px;
}

.colonne {
    height: 258px;
    width: 217px;
}

.colonne1 {
    margin-left: -9px;
}

.semestreSelect {
    border: 4px solid #000461;
    border-radius: 40px;
    width: 160px;
    height: 36px;
    color: #000461;
    margin-bottom: 6px;
    font-size: 12px;
}

.colonne3 {
    margin-top: -42px;
}